* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

header {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: flex;
}

.reset {
    text-align: center;
}